<div class="col col-md-12">
    <table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-width-1-1 uk-card uk-card-default">
        <thead>
            <tr>
                <th></th>
                <th>CITA</th>
                <th>ELIMINAR</th>
                <th>EDITAR</th>
            </tr>
        </thead>
        <tr ng-repeat="cita in citas">
            <td><input class="uk-checkbox" type="checkbox"></td>

            <td><a ui-sref="citasDetail({citasId: cita.id})">{{cita.comentarios}}</td>
            <td>
                <a href="#" uk-icon="icon: trash" style="color: #f44" ui-sref="citasDelete({citasId: cita.id})"></a>
            </td>
            <td>
                <a href="#" uk-icon="icon: pencil" style="color: #44b3ee" ui-sref="citasUpdate({citasId: cita.id})"></a>
            </td>
        </tr>
    </table>
</div>

<table class="uk-table uk-table-small uk-table-hover uk-table-divider uk-width-1-1 uk-card uk-card-default">
    <tr>
        <td>Hora</td>
        <th>Lunes</th>
        <th>Martes</th>
        <th>Miercoles</th>
        <th>Jueves</th>
        <th>Viernes</th>
        <th>Sábado</th>
        <th>Domingo</th>
    </tr>
    <tr ng-repeat="franja in franjas">
        <th>{{franja| date:'h:mm'}}</th>
        <td id="{franja.$index}-0"><span uk-icon="icon: check" ng-show="hayCita(franja, 0)"></span></td>
        <td id="{franja.$index}-1"><span uk-icon="icon: check" ng-show="hayCita(franja, 1)"></span></td>
        <td id="{franja.$index}-2"><span uk-icon="icon: check" ng-show="hayCita(franja, 2)"></span></td>
        <td id="{franja.$index}-3"><span uk-icon="icon: check" ng-show="hayCita(franja, 3)"></span></td>
        <td id="{franja.$index}-4"><span uk-icon="icon: check" ng-show="hayCita(franja, 4)"></span></td>
        <td id="{franja.$index}-5"><span uk-icon="icon: check" ng-show="hayCita(franja, 5)"></span></td>
        <td id="{franja.$index}-6"><span uk-icon="icon: check" ng-show="hayCita(franja, 6)"></span></td>
    </tr>
</table>
