<form ng-submit="createCita()" name="cita">

    <div class="form-group">
        <label for="comentarios">Comentarios</label>
        <input class="form-control" id="hospitalName" required ng-model="comentarios" placeholder="Ingrese los comentarios">
    </div>
    <div class="form-group">
        <label for="horaNueva">Hora</label>
        <select class="form-control" id="horaNueva" required ng-model="horaNueva">
            <option ng-repeat="hora in horas" value={{hora}}>{{hora.horaInicio}}-{{hora.horaFin}} </option>
        </select>
    </div>
    <input ng-show="cita.$valid" type="submit" value="Save" class="btn btn-success"/>
    <button type="reset" class="btn btn-info">Reiniciar</button>
    <a class="btn btn-danger" ui-sref="citasList"> Cancelar </a>

</form>
