<table class="uk-table uk-table-divider uk-width-1-1 uk-card uk-card-default">
    <tr>
        <th>Día y Hora</th>
        <th>Paciente</th>
        <th>Consultorio</th>
        <th>Hospital</th>
    </tr>
    <tr>
        <td>{{hora.horaInicio| date:'MMM d, h:mm a'}}</td>
        <td ng-if="!hayCita">Cita sin asignar</td>
        <td ng-if="hayCita"><a ui-sref="citasDetail({citasId: cita.id})">{{cita.usuario.nombre}}</a></td>
        <td><a ui-sref="consultorioDetail({consultorioId: consultorio.id})">{{consultorio.numero}}</a></td>
        <td><a ui-sref="hospitalDetail({hospitalId: consultorio.hospital.id})">{{consultorio.hospital.nombre}}</a></td>

    </tr>
    <tr><td><a href="#" uk-icon="icon: trash" style="color: #f44" ui-sref="horaDelete({horaId: hora.id})"></a></td><td></td><td></td><td></td></tr>
</table>
