<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="center-block well text-center uk-width-1-1">
    <h1>¿Desea eliminar esta orden?</h1>
    <div class="uk-button-group">
        <button id="confirm-delete" ng-click="deleteOrden()" class="uk-button uk-button-secondary">Eliminar</button>
        <button id="cancel" ui-sref="citasDetail({citasId: citaParaOrdenId})" class="uk-button uk-button-default">Cancelar</button>
    </div>
</div>
