<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createOrdenMedica">Agregar orden</label>
                <h2>    </h2>
                <label ng-if="edit" id="editCita">Editar Información</label></div>
            <div class="panel-body">
                <form class="uk-form" ng-submit="createOrdenMedica()" name="ordenMedica">
                    <div class="form-group">
                        <label for="descripcion">Descripcion</label>
                        <input id="descripcion" required ng-model="descripcion" class="form-control"/>
                    </div>

                    <div class="form-group"><br>
                        <label for="examenes">Examenes</label>
                        <br>
                        <select multiple class="form-control" id="examenNuevo" required ng-model="examenNuevo">
                            <option ng-repeat="examen in examenes" value={{examen}}>{{examen.nombre}}</option>
                        </select>
                    </div>
                    <div class="form-group"><br>
                        <label for="medicamentos">Medicamentos</label>
                        <br>
                        <select multiple class="form-control" id="medicamentoNuevo" required ng-model="medicamentoNuevo">
                            <option ng-repeat="medicamento in medicamentos" value={{medicamento}}>{{medicamento.nombre}}</option>
                        </select>
                    </div>
                    <h3>    </h3>

                    <div class="form-group" ng-if="!ordenMedica.$valid">
                        <div class="alert alert-warning" >
                            <strong>Atención!</strong><p>Todos los campos son obligatorios</p>
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="ordenMedica.$valid" type="submit" value="Guardar" class="btn btn-success"/>
                            <a ng-if="!edit" class="btn btn-info" ui-sref="citasDetail({citasId: citaParaOrdenId})">Cancelar</a>
                            <a ng-if="edit" class="btn btn-info" ui-sref="citasDetail({citasId: citaParaOrdenId})">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>