<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor"><strong>Crear una nueva tarjeta</strong></label>
                <label ng-if="edit" id="editAuthor"><strong>Editar Tarjeta</strong></label></div>
            <div class="panel-body">
                <form ng-submit="createTarjeta()" name="tarjeta">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="tarjetaName" class="col-sm-2">Número</label><br>
                            <input id="tarjetaName" required ng-model="tarjetaNumero" class="col-sm-6 uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!tarjeta.$valid">

                            <div class="alert alert-warning" >
                                <strong>Advertencia!</strong><p>Todos los campos deben estar llenos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <br>
                    <div class="uk-button-group">
                            <br><button ng-show="tarjeta.$valid" type="submit" class="uk-button-secondary uk-button">Guardar</button>
                            <button type="submit" class="uk-button-default uk-button" ui-sref="tarjetasList">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


