<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="updateCita"><strong>Actualizar cita</strong></label>
                <label ng-if="edit" id="editCita"><strong>Editar Información</strong></label></div>
            <div class="panel-body">
                <form ng-submit="updateCita()" name="cita">
                    <div class="form-group">
                        <label for="horaNueva">Hora</label>
                        <select class="form-control uk-input" id="horaNueva" required ng-model="horaNueva">
                            <option ng-repeat="hora in horas" value={{hora}}>{{hora.horaInicio}}-{{hora.horaFin}} </option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="!cita.$valid">
                        <div class="alert alert-warning" >
                            <strong>Atención!</strong><p>Todos los campos son obligatorios</p>
                        </div> 
                    </div>
                    <br>
                    <div class="uk-button-group">
                        <button class="uk-button uk-button-default" ui-sref="citasList">Cancelar</button>
                        <button ng-show="cita.$valid" type="submit" class="uk-button uk-button-secondary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


