<alert class="alert alert-danger" ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert()">{{alert.msg}} </alert>
<div class="container-fluid">

    <table class="table table-striped col-md-4">
        <tbody>
            <tr> <td>Name:</td> <td id="{{$index}}-medicamentoName">{{currentRecord.nombre}}</td> </tr> 
            <tr>  <td>Precio:</td><td id="{{$index}}-medicamentoPrecio">{{currentRecord.precio}}</td></tr>>
        </tbody>
    </table>
    <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre</th>    
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="farmacia in currentFarmacias">
                    <td id="{{$index}}-nombreFarmacia"><a ui-sref="farmaciaDetail ({id: farmacia.id})">{{farmacia.nombre}}</a></td>
                </tr>
            </tbody>
        </table>
</div>
