<form ng-submit="updateLab()" name="laboratorio">
    
    <div class="form-group">
        <label for="laboratorioName">Nombre Laboratorio</label>
        <input class="form-control" id="laboratorioName" required ng-model="labName" placeholder="Ingrese el nombre">
    </div>
    <div class="form-group">
        <label for="laboratorioUbicacionName">Nombre Ubicación</label>
        <input class="form-control" id="laboratorioUbicacionName" required ng-model="ubicacionName" placeholder="e.g. Barrios Unidos">
    </div>
    <div class="form-group">
        <label for="laboratorioUbicacionLatitud">Latitud</label>
        <input class="form-control" id="laboratorioUbicacionLatitud" required ng-model="ubicacionLatitud" placeholder="e.g. 1.100">
    </div>
    <div class="form-group">
        <label for="laboratorioUbicacionLongitud">Longitud</label>
        <input class="form-control" id="laboratorioUbicacionLongitud" required ng-model="ubicacionLongitud" placeholder="e.g. 1.100">
    </div>
    <input ng-show="laboratorio.$valid" type="submit" value="Save" class="btn btn-success"/>
    <button type="reset" class="btn btn-info">Reiniciar</button>
    <a class="btn btn-danger" ui-sref="laboratoriosList"> Cancelar </a>
    
</form>

