
<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createExam"><strong>Actualizar laboratorio</strong></label></div>
            <div class="panel-body">
                <form ng-submit="updateLab()" name="laboratorio">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <br><label for="laboratorio-nombre" class="col-sm-4">Nombre</label>
                            <input id="laboratorio-nombre" required ng-model="nombreLab" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="laboratorio-ubiacionName" class="col-sm-4">Nombre ubicación</label>
                            <input id="laboratorio-ubiacionName" required ng-model="nombreUbicacion" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="laboratorioUbicacionLatitud" class="col-sm-4">Latitud</label><br>
                            <input type="number" min="-4.25" max="11.91" step="0.01" id="laboratorioUbicacionLatitud" required  ng-model="latitud" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="laboratorioUbicacionLongitud" class="col-sm-4">Longitud</label><br>
                            <input type="number" min="-76.6" max="-67.18" step="0.01" id="laboratorioUbicacionLongitud" required  ng-model="longitud" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!laboratorio.$valid">


                        </div> 
                    </div> 
                    <br>
                    <div class="uk-button-group">
                        <button ui-sref="laboratoriosList" class="uk-button uk-button-default">Cancelar</button>
                        <button type="submit" value="Guardar" class="uk-button uk-button-primary">Guardar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>




