<div class="container-fluid ">
                <form ng-submit="addExam()" name="examen">
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!usuario.$valid">
                        </div> 
                    </div> 

                    <div id="agregar-existente" class="form-group row">
                        <label><strong>Seleccione un examen</strong></label><br> 
                        <select class="form-control col-sm-6 uk-input" id="nombreExamen" required ng-model="examenX">
                            <option ng-repeat="examn in examenesList" value={{examn}}>{{examn.nombre}}</option>
                        </select>
                        <br><br>
                    </div> 
                    <br>
                    <div class="uk-button-group">
                        <button ui-sref="laboratoriosList" class="uk-button uk-button-default">Cancelar</button>
                        <button class="uk-button uk-button-secondary" type="submit" ng-show="examen.$valid">Guardar</button>
                    </div>
                </form>

        </div>


