<div ng-show="tipoUser !== 1 && tipoUser !== 2"  class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NÚMERO</th>
                    <th>ELIMINAR</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consultorio in consultoriosRecords">
                    <td id="{{$index}}-numero"><a ui-sref="consultorioDetail({consultorioId: consultorio.id})">{{consultorio.numero}}</a>
                    </td>
                    <td>
                        <a href="#" uk-icon="icon: trash" style="color: #f44" ui-sref="consultorioUpdate({consultorioId: consultorio.id})"></a>
                    </td>
                    <td>
                        <a href="#"  uk-icon="icon: pencil" style="color: #44b3ee" ui-sref="examenUpdate({examenId: examen.id})"></a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="button" class="btn btn-success" ui-sref="consultoriosCreate">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" ></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ng-show="tipoUser !== 3" class="container-fluid">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>NÚMERO</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consultorio in consultoriosRecords">
                    <td id="{{$index}}-numero"><a ui-sref="consultorioDetail({consultorioId: consultorio.id})">{{consultorio.numero}}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>