<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor">Agregar médico</label>
                <label ng-if="edit" id="editAuthor">Editar Información</label></div>
            <div class="panel-body">
                <form ng-submit="createMedico()" name="medico">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="nombreMedico" class="col-sm-4">Nombre:</label>
                            <input id="nombreMedico" required ng-model="nombreMedico" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="especializacionMedico" class="col-sm-4">Especializacion:</label>
                            <input id="especializacionMedico" required ng-model="especializacionMedico" class="col-sm-6"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!medico.$valid">

                            <div class="alert alert-warning" >
                                <strong>Warning!</strong><p>All inputs are required*</p>
                            </div> 
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="medico.$valid" type="submit" value="Save" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="medicosList">Cancel</a>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


