<form ng-submit="createMedico()" name="medico">

    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input class="form-control uk-input" id="nombre" required ng-model="nombreMedico" placeholder="Ingrese el nombre">
    </div>
    <div class="form-group">
        <label for="especializacionMedico">Especialización</label>
        <select class="form-control uk-input" id="especializacionMedico" required ng-model="especializacionMedico" >
            <option ng-repeat="especializacion in especializaciones">{{especializacion.value}}</option>
        </select>
    </div>
    <br>
    <div class="uk-button-group">
        <button type="reset" class="uk-button uk-button-secondary">Reiniciar</button>
        <button class="uk-button uk-button-default" ui-sref="medicosList">Cancelar</button>
        <button ng-show="medico.$valid" type="submit" class="uk-button uk-button-secondary">Guardar</button>
    </div>

</form>
