<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label ng-if="!edit" id="createAuthor"><strong>Crear un nuevo pago</strong></label>
                <label ng-if="edit" id="editAuthor"><strong>Editar Pago</strong></label></div>
            <div class="panel-body">
                <form ng-submit="createPago()" name="pago">
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pagoRef" class="col-sm-2">Referencia</label><br>
                            <input id="pagoRef" required ng-model="pagoRef" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pagoPrecio" class="col-sm-2">Precio</label><br>
                            <input id="pagoPrecio" required ng-model="pagoPrecio" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pagoName" class="col-sm-2">Paga</label><br>
                            <input id="pagoName" required ng-model="pagoPaga" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="form-group col-md-6">
                            <label for="pagoName" class="col-sm-2">Método</label><br>
                            <input id="pagoName" required ng-model="pagoMetodo" class="col-sm-6 form-control uk-input"/>
                        </div>
                    </div>
                    
                    
                    
                    <div ng-if="edit" class="panel-group" id="theCitas">
                        <div class="panel panel-info">
                            <div class="panel-heading">Associated citas</div>
                            <div class="panel-body">
                                <div id="div2" ondrop="angular.element(document.getElementById('theCitas')).scope().dropAdd(event)" ondragover="angular.element(document.getElementById('theCitas')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-show="edit" ng-repeat="cita in allCitasUsiario">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theCitas')).scope().drag(event)" id="{{cita.id}}">{{cita.comentarios}}</p>                                 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading">All citas</div>
                            <div class="panel-body">
                                <div id="div1" ondrop="angular.element(document.getElementById('theCitas')).scope().dropDelete(event)" ondragover="angular.element(document.getElementById('theCitas')).scope().allowDrop(event)">
                                    <label></label>
                                    <div ng-repeat="cita in allCitasShow">
                                        <p draggable="true" ondragstart="angular.element(document.getElementById('theCitas')).scope().drag(event)" id="{{cita.id}}">{{cita.comentarios}}</p>                
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="form-group col-sm-4" ng-if="!pago.$valid">

                            <div class="alert alert-warning" >
                                <br><strong>Advertencia!</strong><p>Todos los campos deben estar llenos*</p>
                            </div> 
                        </div> 
                    </div> 
                    <br>
                    <div class="uk-button-group">
                        <button ng-show="pago.$valid" type="submit" class="uk-button uk-button-secondary">Guardar</button>
                        <button class="uk-button uk-button-default" ui-sref="pagosList">Cancelar</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>