<div class="container-fluid">
    <div class="panel-group">
        <div class="panel panel-primary">
            <div class="panel-heading"><label id="createHora">Agregar médico</label></div>
            <div class="panel-body">
                <form ng-submit="createHora()" name="hora">
                    <div class="form-group">
                        <label for="horaInicio">Hora Inicio</label>
                        <input id="horaInicio" required ng-model="horaInicio" class="form-control"/>
                    </div>
                        <div class="form-group">
                        <label for="consultorioHora">Consultorio</label>
                        <select class="form-control" id="consultorioHora" required ng-model="consultorioHora">
                            <option ng-repeat="consultorio in consultorios">{{consultorio.numero}}</option>
                        </select>
                    </div>
                    <div class="form-group" ng-if="!hora.$valid">
                        <div class="alert alert-warning" >
                            <strong>Atención!</strong><p>Todos los campos son obligatorios</p>
                        </div> 
                    </div> 
                    <div class="form-group row">
                        <div class="form-group col-sm-12">
                            <input ng-show="hora.$valid" type="submit" value="Guardar" class="btn btn-success"/>
                            <a class="btn btn-info" ui-sref="horasList">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


