<form class="uk-form" ng-submit="createHora()" name="hora">
    <label class="uk-form-label" for="horaInicio">Hora Inicio</label>
    <input class="uk-input" type="datetime-local" id="horaInicio" required ng-model="horaInicio"/>
    <label class="uk-form-label" for="consultorioHora">Consultorio</label>
    <select class="uk-select" id="consultorioHora" required ng-model="consultorioHora">
        <option ng-repeat="consultorio in consultorios" value={{consultorio}}>{{consultorio.numero}}</option>
    </select>
    <div class="uk-alert uk-alert-warning">
        <strong>Atención!</strong><p>Todos los campos son obligatorios</p>
    </div> 
    <input ng-show="hora.$valid" type="submit" value="Guardar" class="uk-button uk-button-success"/>
    <a class="uk-button" ui-sref="horasList">Cancelar</a>
</form>


